!!! 5
%head
  %title FileServer(#{$dir})
  %link{href: 'http://twitter.github.io/bootstrap/assets/css/bootstrap.css', rel: 'stylesheet'}

%body{style: 'background-color: #8F8F96;'}
  .container-fluid
    .row-fluid
      - if logged?
        %form{action: '/logout', method: 'post'}
          %button.btn.btn-warning{name: 'commit', type: 'submit'} LogOut
      - else
        %a.btn.btn-primary{href: '/login'} Login
    .row-fluid

      %h1 Files at "#{$dir}"

      %table.table.table-bordered.table-striped
        %thead
          %th File Name
          %th Last Modified
          %th Size

        %tbody
        - @files.each do |file|
          %tr
            %td= file.path
            %td= file.mtime.strftime("%Y | %b | %d")
            %td= file.size